@font-face {
  font-family: "Poppins";
  src: url("./assets/inAppAssets/fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #454445;
}

#app {
  color: #9a9a9a;
  font-family: "Poppins";
  display: flex;
  height: 100%;
}

.pane {
  background-color: #333232;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}

#leftPane {
  width: 20%;
  margin-left: 15px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.leftPaneButton {
  padding: 5px;
  border-radius: 5px;
}

.leftPaneButton:hover {
  background-color: #454445;
}

#mainPane {
  width: 80%;
  margin: 20px;
  margin-top: 16px;
}

#appLogo {
  height: 64px;
}

.row {
  display: flex;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444544;
  border-radius: 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}